
# Python
__pycache__/
*.pyc
env/
venv/
.venv/

# logs
*.log

# secrets
.env
.env.*.local

# model files if you don't want to include them in repo
# comment out if you WILL commit best.pt
# best.pt
# *.pt

# system
.DS_Store
